#CreatePost {
    background: #f0f0f1;
}

#CreatePost .post-data {
    background: var(--white-color);
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
}

#CreatePost .options {
    background-color: #fafafa;
    padding: 0;
    list-style: none;
    width: 18%;
    border-right: solid 1px #eee;
    margin-bottom: 0;
}

#CreatePost .option {
    padding: 10px;
    border-bottom: solid 1px #eee;
    cursor: pointer;
}
#CreatePost .post-input {
    width: 52%;
    padding: 20px;
}

#CreatePost .input {
    margin-bottom: 20px;
    width: 100%;
}

#CreatePost .w-30 {
    width: 30%;
}


#CreatePost .input-title {
    width: 30%;
    font-size: 13px;
}

#CreatePost .input-value,
#CreatePost .input-img {
    width: 70%;
    border-radius: 5px;
}

#CreatePost .input-img {
    width: 71%;
}

#CreatePost .btn-add-img {
    margin-left: 10px;
    color: #2271b1;
    background-color: #f6f7f7;
    border-color: #2271b1;
    border-radius: 3px;
}
