

#Menu .menu-title {
    text-transform: uppercase;
    color: #767676;
    font-weight: bold;
    opacity: 0.7;
}

#Menu .menu-list {
    padding-left: 5px;
}

#Menu .menu-item {
    list-style: none;
    border-radius: 5px;
    height: 50px;
}

#Menu .menu-item-link {
    width: calc(100vh -45px);
    padding: 13px;
    display: flex;
}

#Menu .menu-item-icon {
    margin-right: 12px;
    opacity: 0.6;
}

#Menu .menu-item-name {
    text-transform: capitalize;
}

#Menu .menu-item:hover {
    background-color: #f4f3f2;
    cursor: pointer;
}

#Menu .menu-item:active{
    background-color: #595999 !important;
    color: var(--white-color);
}

#Menu .menu-item-link {
    text-decoration: none;
    color: var(--black-color);
}