#Cart .cart-wrapper {
    padding: 15px 20px;
    border: 1px solid #e0dfdb;
    border-radius: 10px;
}

#Cart table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border-radius: 5px;
    empty-cells: show;
}

#Cart thead {
    border-bottom: 1px solid #e0dfdb;
}

#Cart thead * {
    text-transform: uppercase;
    font-weight: normal;
    color: #aaa;
    font-size: 14px;
}

#Cart th {
    padding: 9px 12px;
    line-height: 1.5rem;
    vertical-align: middle;
}

#Cart td {
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 9px 12px;
}

#Cart .btn-remove {
    font-weight: 100;
    height: 1em;
    width: 1em;
    font-size: 25.2px;
    color: #aaa;
    text-align: center;
    border-radius: 50px;
    line-height: 20px;
}

#Cart .btn-remove:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
}

#Cart .product-font {
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
}


#Cart .product-name:hover {
    color: var(--primary-color);
    cursor: pointer;
}

#Cart .subtotal *{
    text-transform: uppercase;
    font-weight: 400;
}

#Cart .process-checkout {
    clear: both;
    text-align: right;
    padding: 16px 0;
}

#Cart .btn-checkout {
    padding: 9px 28px;
    border-radius: 6px;
}

#Cart .total {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 6px;
}

#Cart .cart-total td {
    border: none;
    float: right;
}