

#Main .nav-title {
    margin: 24px 0;
    display: flex;
    justify-content: space-between;
}

#Main .filter {
    width: 150px !important;
}

#Main .products {
    display: flex;
    flex-wrap: wrap;
    column-count: auto;
    list-style: none outside;
    padding: 0 !important;
}

#Main .item {
    flex-wrap: wrap;
    width: 23%;
    max-width: 23%;
    border-radius: 10px !important;
    margin: 0 10px 20px;
    box-shadow: 0 0 2px 0 rgb(18 43 70 / 25%);
    text-align: center;
}

#Main .item * {
    text-decoration: none;
}

#Main .item-information {
    outline: 0;
    -webkit-box-flex: 1;
    cursor: pointer;
    flex: 0 0 100%;
}

#Main .item img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    margin-bottom: 16px;
}

#Main .item-title {
    font-size: 1rem;
    color: var(--black-color);
    font-weight: bold;
}

#Main .item-price {
    margin-bottom: 0.5rem;
    display: block;
    color: #ff703d;
}

#Main .btn-addtocart {
    cursor: pointer;
    display: block;
    color: #ff703d;
    text-transform: uppercase;
    border-top: 1px solid #e0dfdb;
    padding: 0.618em 1em;
    border-radius: 0 0 10px 10px;
}

#Main .btn-addtocart:hover {
    color: var(--white-color);
    background-color: #ff703d;
}