

#Main .nav-title {
    margin: 24px 0;
    display: flex;
    justify-content: space-between;
}

#Main .filter {
    width: 150px !important;
}

#Main .products {
    padding-left: 0;
}

#Main .item {
    border: 1px solid #ccc;
    border-radius: 20px;
    list-style: none;
    margin-bottom: 10px;
}


#Main .item-cover {
    float: right;
    width: 75%;
    padding: 10px;
}

#Main .item-cover * {
    display: block;
}

#Main .space {
    height: 130px;
    color: var(--primary-color);
}

#Main .item-cover .item-store {
    float: inline-end;
}

#Main .item-img {
    float: left;
    width: 256px;
    height: 256px;
}

#Main .item-img > img {
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
}

#Main .item-price {
    color: var(--primary-color);
    font-weight: bold;
}

/*

#Main .item * {
    text-decoration: none;
}

#Main .item-information {
    outline: 0;
    -webkit-box-flex: 1;
    cursor: pointer;
    flex: 0 0 100%;
}



#Main .item-title {
    font-size: 1rem;
    color: var(--black-color);
    font-weight: bold;
}

#Main .item-price {
    margin-bottom: 0.5rem;
    display: block;
    color: #ff703d;
}

#Main .btn-addtocart {
    cursor: pointer;
    display: block;
    color: #ff703d;
    text-transform: uppercase;
    border-top: 1px solid #e0dfdb;
    padding: 0.618em 1em;
    border-radius: 0 0 10px 10px;
}

#Main .btn-addtocart:hover {
    color: var(--white-color);
    background-color: #ff703d;
} */