#ProductPage .product-type {
    display: flex;
}

#ProductPage .product-img img {
    border-radius: 10px 0 0 10px;
    width: 600px;
    height: 600px;
}

#ProductPage .product-summary {
    padding: 2em 2% 0 4%;
    border: 1px #ccc;
    width: 100%;
}

#ProductPage .product-name {
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: bold;
    text-transform: capitalize;
}

#ProductPage .product-price {
    font-weight: 500;
    font-size: 1.25rem;
    margin: 24px 0;
}

#ProductPage .btn-addtocart {
    margin: 24px 0;
    background-color: var(--primary-button);
    padding: 8px 32px;
    color: var(--white-color);
    text-transform: capitalize;
    border: none;
    border-radius: 8px;
}

#ProductPage h4 {
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    margin: 4px 0;
}

#ProductPage .category-wrapper .product-att,
#ProductPage .tag-wrapper .product-att {
    color: var(--primary-color);
}

#ProductPage .availability-wrapper .product-att {
    color: #77a464;
}

#ProductPage .product-information {
    color: #aaaaaa;
    font-weight: 400;
    font-size: 0.9rem;
}

#ProductPage .product-information>span {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    margin: 8px 0;
}

#ProductPage .product-att-title {
    width: 40%;
}

#ProductPage .description {
    margin: 24px 0;
    text-align: left;
}