#UserHeader {
    border-bottom: 1px solid #ccc;
    width: 100%;
    position: fixed;
    z-index: 12;
}

#UserHeader .link {
    margin: 0 15px;
}

#UserHeader .vin-icon {
    width: 90px;
    padding-right: 24px;
}

#UserHeader .navbar-collapse {
    font-weight: bold;
    font-size: 18px
}

#UserHeader .btn-logout {
    border-radius: 10px;
    float: right;
}

/* NOTIFICATION  */

#UserHeader .notification-modal {
    user-select: none;
    margin-top: 35px;
    right: -20px;
    min-width: 410px;
    border-radius: 10px;
    position: absolute;
    display: none;
    box-shadow: 0 2px 7px 1px rgb(0 0 0 / 5%), 0 6px 32px 0 rgb(18 43 70 / 10%);
    background-color: var(--white-color);
}

#UserHeader .notification-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px 15px;
}

#UserHeader .notification-title {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1;
}

#UserHeader .notification-link {
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}

#UserHeader .notification-body {
    max-height: calc(100vh - 210px);
    max-width: calc(100vw - 20px);
    overflow: auto;
    border-bottom: 1px solid #e0dfdb;
}

#UserHeader .cart-item-wrap {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 0 10px;
    align-items: center;
}

#UserHeader .cart-body {
    padding-left: 0;
}

#UserHeader .cart-item-wrap * {
    text-decoration: none;
}

#UserHeader .item-img {
    border-radius: 6px;
}

#UserHeader .item-quantity,
#UserHeader .item-remove {
    color: #aaaaaa;
    font-size: 13px;
    font-weight: 400;
    margin-left: 12px;
}


#UserHeader .item-remove:hover,
#UserHeader .item-name:hover {
    color: var(--primary-color);
}   

#UserHeader .item-name {
    font-weight: 500;
    font-size: 14px;
    max-width: 290px;
    padding-left: 10px;
    color: var(--black-color);
}

#UserHeader .cart-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e0dfdb;
    padding: 0.8125rem 0 0.75rem 0.9375rem;
    padding: 15px;

}

#UserHeader .btn-checkout 
{
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 15px;
}

#UserHeader .total {
    font-weight: 500;
    font-size: 14px;
    color: #aaaaaa;
}

/* SEARCH  */

#UserHeader .search {
    width: 400px;
    height: 40px;
    background-color: var(--primary-bar);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 8px;
    margin-right: 12px;
}

#UserHeader .search-bar {
    height: 40px;
    margin-left: 8px;
    border: none;
    outline: none;
    background-color: var(--primary-bar);
    flex: 1;
}

#UserHeader .search>i {
    color: #777;
    font-size: 20px
}

#UserHeader .user-wrap {
    user-select: none;
    margin-left: 32px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

#UserHeader .user-avt {
    width: 36px;
    height: 36px;
    border-radius: 50px;
}

#UserHeader .user-name {
    font-weight: 600;
    margin-right: 10px;
    color: #393e41;
    font-size: 1rem;
}

#UserHeader .nav-icon {
    position: relative;
    cursor: pointer;
    margin: 0 12px;
}

#UserHeader .cart-length {
    padding: 1px 6px;
    font-size: 9px;
    border-radius: 50px;
    color: var(--white-color);
    position: absolute;
    background-color: var(--primary-color);
    left: 15px;
    bottom: 7px;
}

#UserHeader .user-option {
    z-index: 24;
    top: 120%;
    right: 0%;
    position: absolute;
    width: 300px;
    padding: 24px;
    box-shadow: 0 6px 24px 0 rgb(0 0 0 / 12%), 0 3px 8px 0 rgb(0 0 0 / 6%);
    border-radius: 5px;
    background-color: #ffff;
}

#UserHeader .user-info-avt {
    width: 64px;
    height: 64px;
    border-radius: 50px;
    margin-right: 12px;
}

#UserHeader .user-info>* {
    display: inline-block;
}

#UserHeader .user-info-email {
    font-size: 12px;
    color: #aaaaaa;
    font-weight: 600;
}

#UserHeader .wallet {
    text-align: right;
    width: 100%;
    margin-bottom: 8px;
}

#UserHeader .pi-money-bill {
    color: rgba(198, 149, 53, 1);
}