:root {
    --white-color: #fff;
    --black-color: #000;
    --primary-color: #F27229;
    --primary-button: #595999;
    --primary-button-hover: #606099;
    --primary-bar: #f4f3f2;
}

.left-side {
    z-index: 14;
    width: 280px;
    height: 100%;
    padding: 16px;
    position: fixed;
    box-shadow: 0 3px 13px 0 rgba(32, 40, 49, 0.5);
    margin-top: 101px;
    border-radius: 5px;
}

.right-side {
    z-index: 1;
    position: absolute;
    width: calc(100% - 280px);
    height: calc(100vh);
    margin-left: 280px;
    margin-top: 102px;
    padding: 32px 80px 0 80px;
}

#App {
    position: relative;
}

#App .btn-primary-color {
    background-color: var(--primary-button) !important;
    padding: 6px 20px;
    border: none;
    color: var(--white-color);
}

#App .link {
    text-decoration: none;
    color: var(--black-color);
}

.border {
    border: 1px #ccc;
    border-radius: 10px;
    margin: 32px -0;
}

.border-bottom {
    border-bottom: 1px solid #aaa;
    width: 100%;
}

.p-32 {
    padding: 32px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.inline-block * {
    display: inline-block;
}

.block * {
    display: block !important;
}

#App .display {
    display: block !important;
}

.display-none {
    display: none !important;
}

.mt-180 {
    margin-top: 180px;
}

.mt-250 {
    margin-top: 250px;
}

.flex {
    display: flex;
}

.fw-500 {
    font-weight: 500 !important;
}

.fs-16 {
    font-size: 16px !important;
}